/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: NewStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #008000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #008000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #008000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #008000;
	max-id: 3;
	background-color: #f0fff0;
	margin-left: 3px;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 5px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: justify;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-NewStyle
{
	border-collapse: collapse;
	background-color: #f0fff0;
	border-left-style: solid;
	border-left-color: #008000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #008000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #008000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #008000;
	border-bottom-width: 1px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-spacing: 0px 0px;
}

.TableStyle-NewStyle-Column-Column1
{
	width: 5px;
}

.TableStyle-NewStyle-Head-Header1
{
	
}

.TableStyle-NewStyle-HeadI-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-NewStyle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-HeadE-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-HeadF-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-HeadH-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-HeadD-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-HeadC-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-NewStyle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-HeadB-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-HeadA-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-NewStyle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-HeadG-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-NewStyle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-NewStyle-Foot-Footer1
{
	
}

.TableStyle-NewStyle-FootI-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-NewStyle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootE-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NewStyle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootF-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NewStyle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootH-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootD-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NewStyle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootC-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-NewStyle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootB-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootA-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-NewStyle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-FootG-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-NewStyle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-NewStyle-Body-Body1
{
	
}

.TableStyle-NewStyle-BodyI-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
}

.TableStyle-NewStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyE-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyF-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyH-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyD-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NewStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyC-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
}

.TableStyle-NewStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyB-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-NewStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyA-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
}

.TableStyle-NewStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-NewStyle-BodyG-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify;
}

.TableStyle-NewStyle-BodyG-Column1-Body1 p
{
	
}


